* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}
.box {
  margin: 25% auto;
  width: 50%;
  height: 50%;
  display: block;
  border-bottom: none;
  
}
.left-one ,.right-one {
    
    width: 50%;
    height: 50%;
    float: left;
    display: block;
    border: green solid 1px;
}
legend ,fieldset{
    text-align: center;
}

