html {
  font-size: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.container {
  display: grid;
  border: 1px solid;
  height: 50vh;
  width: 50vw;

  grid-template-columns: 48% 4% 48%;
  grid-template-rows: 90% 10%;
  background-color: white;
}
.kid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  border: solid 1px red;
}

.kid3 {
  align-items: flex-end;
  color: blue;
  font-weight: bold;
}
.kid4 {
  align-items: flex-start;
  color: blue;
  font-weight: bold;
}
span {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  align-items: center;

  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  display: flex;
  border: none;
  padding: 10px 10px;
}
.inputWicon {
  border-bottom: 1px solid gray;
}
a {
  text-decoration: none;
  text-align: center;
}

#Facebook {
  background-color: #4267b2;
  padding: 5%;
  color: white;
  width: 14vw;
  box-shadow: 100px black;
}
#Google {
  background-color: red;
  padding: 5%;
  color: white;
  width: 14vw;
}
#Twitter {
  background-color: lightskyblue;
  padding: 5%;
  color: white;
  width: 14vw;
}
#login {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
}
